In [135]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [136]:
results_by_year = {year : pd.read_csv('data/marathon_results_{}.csv'.format(year)) for year in range(2009,2020)}

In [137]:
results_by_year[2019]

,Bib,Name,Age,M/F,City,State,Country,5K,10K,15K,...,Half,25K,30K,35K,40K,Pace,Official Time,Overall,Gender,Division
0,2,"Cherono, Lawrence",30,M,Eldoret,NaN,KEN,0:15:11,0:30:21,0:45:48,...,1:04:29,1:16:23,1:32:01,1:47:16,2:01:45,0:04:53,2:07:57,1,1,1
1,6,"Desisa, Lelisa",29,M,Ambo,NaN,ETH,0:15:10,0:30:22,0:45:46,...,1:04:30,1:16:24,1:32:01,1:47:16,2:01:46,0:04:53,2:07:59,2,2,2
2,7,"Kipkemoi, Kenneth",34,M,Eldoret,NaN,KEN,0:15:14,0:30:22,0:45:47,...,1:04:31,1:16:24,1:32:01,1:47:16,2:01:45,0:04:54,2:08:07,3,3,3
3,8,"Kandie, Felix",32,M,Iten,NaN,KEN,0:15:14,0:30:24,0:45:47,...,1:04:31,1:16:24,1:32:01,1:47:16,2:02:08,0:04:55,2:08:54,4,4,4
4,11,"Kirui, Geoffrey",26,M,Keringet,NaN,KEN,0:15:12,0:30:21,0:45:46,...,1:04:28,1:16:23,1:32:01,1:47:16,2:01:57,0:04:56,2:08:55,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26651,23909,"Mcninch, Brett",42,M,New Lebanon,OH,USA,0:27:04,0:55:14,1:30:44,...,2:17:35,3:07:53,4:29:32,5:48:38,6:49:34,0:16:34,7:14:12,26653,14672,1989
26652,23949,"Oconell, Justin",28,M,Franklin,MA,USA,0:50:12,1:37:16,2:26:49,...,3:27:50,4:09:24,5:00:59,5:55:16,-,0:16:39,7:16:19,26654,14673,5092
26653,15946,"Young, John",53,M,Salem,MA,USA,0:39:21,1:24:43,2:12:26,...,3:21:04,4:06:20,5:03:30,6:01:14,-,0:16:42,7:17:35,26655,14674,1858
26654,23937,"Smith, Denise",51,F,Fort Collins,CO,USA,0:39:09,1:22:06,2:11:38,...,3:20:47,4:06:00,5:04:48,6:06:03,-,0:17:01,7:25:39,26656,11982,1200
26655,23958,"Reilly, Bill",66,M,Kew Gardens,NY,USA,-,1:20:44,2:20:03,...,3:38:05,4:29:45,5:34:31,6:36:53,7:21:39,0:17:42,7:43:48,26657,14675,469

In [138]:
mean_ages = {year : results['Age'].mean() for year, results in results_by_year.items()}
mean_ages

{2009: 40.96591257165361,
 2010: 41.34486104984561,
 2011: 41.50615320217664,
 2012: 41.85048112509252,
 2013: 41.30630681818182,
 2014: 42.41457837363739,
 2015: 42.14482291901647,
 2016: 42.514044310927524,
 2017: 42.587731919727375,
 2018: 42.520865593062865,
 2019: 42.80098289315726}

In [139]:
participants_number = {year : len(results) for year, results in results_by_year.items()}
participants_number

{2009: 22853,
 2010: 22670,
 2011: 23890,
 2012: 21616,
 2013: 17600,
 2014: 31924,
 2015: 26598,
 2016: 26630,
 2017: 26410,
 2018: 25832,
 2019: 26656}

In [140]:
women_number = {year : len(results[results['M/F']=='F']) for year, results in results_by_year.items()}
women_percentage = {year : women/participants for (year, women), participants in zip (women_number.items(), participants_number.values())}
women_percentage

{2009: 0.4071237911871527,
 2010: 0.4213056903396559,
 2011: 0.4218082879866053,
 2012: 0.4161269430051813,
 2013: 0.39494318181818183,
 2014: 0.4492544793885478,
 2015: 0.45180088728475826,
 2016: 0.4568907247465265,
 2017: 0.4533131389625142,
 2018: 0.45010065035614744,
 2019: 0.4494672869147659}

In [141]:
def timestamp_to_seconds(timestamp):
    split_time = timestamp.split(':')
    if len(split_time) !=3:
        split_time = timestamp.split('.')
    return int(split_time[0]) * 3600 + int(split_time[1]) * 60 + int(split_time[2])

def seconds_to_timestamp(seconds):
    hh = seconds//3600
    mm = (seconds - hh * 3600)//60
    ss = seconds - hh * 3600 - mm * 60
    return '{}:{:02d}:{:02d}'.format(hh, mm, ss)

def get_mean_official_time(results):
    return seconds_to_timestamp(int(round(results['Official Time'].map(timestamp_to_seconds).mean())))

In [142]:
mean_times_best1000 = {year : get_mean_official_time(results.head(1000)) for year, results in results_by_year.items()}
mean_times_best1000

{2009: '2:47:53',
 2010: '2:46:42',
 2011: '2:45:36',
 2012: '2:56:56',
 2013: '2:43:06',
 2014: '2:41:26',
 2015: '2:42:35',
 2016: '2:48:06',
 2017: '2:46:25',
 2018: '2:47:12',
 2019: '2:40:30'}

In [143]:
best_1000_men_by_year = {year : results[results['M/F']=='M'] for year, results in results_by_year.items()}
best_1000_women_by_year = {year : results[results['M/F']=='F'] for year, results in results_by_year.items()}
mean_times_men = {year : get_mean_official_time(results.head(1000)) for year, results in best_1000_men_by_year.items()}
print(mean_times_men)
mean_times_women = {year : get_mean_official_time(results.head(1000)) for year, results in best_1000_women_by_year.items()}
print(mean_times_women)
women_to_men_time = {year : timestamp_to_seconds(women_time)/timestamp_to_seconds(men_time) for ((year, women_time), men_time) in zip (mean_times_women.items(), mean_times_men.values())}
women_to_men_time

{2009: '2:48:23', 2010: '2:47:26', 2011: '2:46:27', 2012: '2:57:42', 2013: '2:43:41', 2014: '2:42:06', 2015: '2:42:58', 2016: '2:48:33', 2017: '2:47:09', 2018: '2:47:21', 2019: '2:41:07'}
{2009: '3:17:41', 2010: '3:16:09', 2011: '3:14:30', 2012: '3:29:45', 2013: '3:11:20', 2014: '3:10:20', 2015: '3:09:22', 2016: '3:13:52', 2017: '3:14:09', 2018: '3:13:11', 2019: '3:08:17'}

{2009: 1.1740077204790655,
 2010: 1.1715110491738006,
 2011: 1.1685190747972365,
 2012: 1.1803601575689364,
 2013: 1.1689237348538846,
 2014: 1.1741723216121736,
 2015: 1.161996318265494,
 2016: 1.1502027093839613,
 2017: 1.161531558480407,
 2018: 1.1543670949108655,
 2019: 1.168614875349126}

In [144]:
countries_represented_by_year = {year : results['Country'].nunique() for year, results in results_by_year.items()}
countries_represented_by_year

{2009: 60,
 2010: 63,
 2011: 66,
 2012: 60,
 2013: 70,
 2014: 77,
 2015: 79,
 2016: 79,
 2017: 91,
 2018: 91,
 2019: 92}

In [145]:
states = pd.read_csv('data/states.csv')
states

   Postal abbreviation      State name  Avg temperature(°F)  Avg elevation(m)
0                   AK          Alaska                32.03               580
1                   AL         Alabama                62.68               150
2                   AR        Arkansas                60.09               200
3                   AZ         Arizona                65.97              1250
4                   CA      California                61.17               880
5                   CO        Colorado                46.26              2070
6                   CT     Connecticut                48.60               150
7                   DE        Delaware                54.48                20
8                   FL         Florida                71.80                30
9                   GA         Georgia                62.30               180
10                  HI          Hawaii                72.95               920
11                  IA            Iowa                48.14               340
12                  ID           Idaho                46.32              1520
13                  IL        Illinois                51.37               180
14                  IN         Indiana                51.81               210
15                  KS          Kansas                54.68               610
16                  KY        Kentucky                55.62               230
17                  LA       Louisiana                66.74                30
18                  MA   Massachusetts                48.14               150
19                  MD        Maryland                54.61               110
20                  ME           Maine                43.09               180
21                  MI        Michigan                46.64               270
22                  MN       Minnesota                42.98               370
23                  MO        Missouri                54.70               240
24                  MS     Mississippi                63.50                90
25                  MT         Montana                44.18              1040
26                  NC  North Carolina                58.70               210
27                  ND    North Dakota                40.80               580
28                  NE        Nebraska                49.88               790
29                  NH   New Hampshire                44.49               300
30                  NJ      New Jersey                51.93                80
31                  NM      New Mexico                53.07              1740
32                  NV          Nevada                57.30              1680
33                  NY        New York                48.17               300
34                  OH            Ohio                50.88               260
35                  OK        Oklahoma                60.14               400
36                  OR          Oregon                51.27              1010
37                  PA    Pennsylvania                49.80               340
38                  RI    Rhode Island                49.27                60
39                  SC  South Carolina                61.70               110
40                  SD    South Dakota                45.54               670
41                  TN       Tennessee                58.11               270
42                  TX           Texas                65.97               520
43                  UT            Utah                49.55              1860
44                  VA        Virginia                55.54               290
45                  VT         Vermont                43.74               300
46                  WA      Washington                50.47               520
47                  WI       Wisconsin                44.71               320
48                  WV   West Virginia                53.08               460
49                  WY         Wyoming                43.47              2040

In [146]:
usa_participants_by_year = {year : results[results['Country'] == 'USA'] for year, results in results_by_year.items()}
regions_represented_by_year = {year : participants.groupby('State').size() for year, participants in usa_participants_by_year.items()}
states_represented_by_year = {}
for year in range(2009, 2020):
    states_participants = {}
    for region, participants in regions_represented_by_year[year].items():
        if region in states['Postal abbreviation'].values:
            states_participants[region] = participants
    if states_participants:
        states_represented_by_year[year] = states_participants
states_represented_by_year

{2009: {'AK': 67,
  'AL': 69,
  'AR': 27,
  'AZ': 235,
  'CA': 1598,
  'CO': 431,
  'CT': 423,
  'DE': 64,
  'FL': 461,
  'GA': 297,
  'HI': 48,
  'IA': 134,
  'ID': 74,
  'IL': 649,
  'IN': 208,
  'KS': 129,
  'KY': 117,
  'LA': 51,
  'MA': 4719,
  'MD': 415,
  'ME': 160,
  'MI': 626,
  'MN': 367,
  'MO': 173,
  'MS': 24,
  'MT': 56,
  'NC': 340,
  'ND': 31,
  'NE': 80,
  'NH': 334,
  'NJ': 579,
  'NM': 59,
  'NV': 83,
  'NY': 1296,
  'OH': 677,
  'OK': 76,
  'OR': 246,
  'PA': 769,
  'RI': 148,
  'SC': 115,
  'SD': 18,
  'TN': 236,
  'TX': 763,
  'UT': 238,
  'VA': 579,
  'VT': 109,
  'WA': 395,
  'WI': 372,
  'WV': 42,
  'WY': 15},
 2010: {'AK': 58,
  'AL': 63,
  'AR': 39,
  'AZ': 182,
  'CA': 1496,
  'CO': 407,
  'CT': 368,
  'DE': 47,
  'FL': 504,
  'GA': 216,
  'HI': 33,
  'IA': 163,
  'ID': 76,
  'IL': 995,
  'IN': 238,
  'KS': 137,
  'KY': 114,
  'LA': 33,
  'MA': 4612,
  'MD': 429,
  'ME': 169,
  'MI': 641,
  'MN': 442,
  'MO': 188,
  'MS': 29,
  'MT': 52,
  'NC': 374,
  'ND': 28,
  'NE': 79,
  'NH': 363,
  'NJ': 496,
  'NM': 57,
  'NV': 47,
  'NY': 1403,
  'OH': 720,
  'OK': 44,
  'OR': 280,
  'PA': 705,
  'RI': 149,
  'SC': 110,
  'SD': 24,
  'TN': 195,
  'TX': 661,
  'UT': 238,
  'VA': 553,
  'VT': 109,
  'WA': 454,
  'WI': 424,
  'WV': 38,
  'WY': 17},
 2011: {'AK': 36,
  'AL': 89,
  'AR': 63,
  'AZ': 245,
  'CA': 1806,
  'CO': 498,
  'CT': 355,
  'DE': 46,
  'FL': 599,
  'GA': 332,
  'HI': 53,
  'IA': 150,
  'ID': 90,
  'IL': 845,
  'IN': 257,
  'KS': 133,
  'KY': 143,
  'LA': 61,
  'MA': 4506,
  'MD': 392,
  'ME': 200,
  'MI': 585,
  'MN': 490,
  'MO': 201,
  'MS': 34,
  'MT': 48,
  'NC': 421,
  'ND': 37,
  'NE': 68,
  'NH': 354,
  'NJ': 431,
  'NM': 48,
  'NV': 90,
  'NY': 1168,
  'OH': 719,
  'OK': 94,
  'OR': 323,
  'PA': 743,
  'RI': 150,
  'SC': 136,
  'SD': 35,
  'TN': 195,
  'TX': 819,
  'UT': 273,
  'VA': 476,
  'VT': 87,
  'WA': 486,
  'WI': 418,
  'WV': 35,
  'WY': 16},
 2012: {'AK': 36,
  'AL': 117,
  'AR': 52,
  'AZ': 209,
  'CA': 1590,
  'CO': 414,
  'CT': 290,
  'DE': 47,
  'FL': 565,
  'GA': 293,
  'HI': 50,
  'IA': 145,
  'ID': 86,
  'IL': 646,
  'IN': 211,
  'KS': 115,
  'KY': 120,
  'LA': 56,
  'MA': 4027,
  'MD': 396,
  'ME': 155,
  'MI': 457,
  'MN': 408,
  'MO': 169,
  'MS': 41,
  'MT': 70,
  'NC': 466,
  'ND': 27,
  'NE': 88,
  'NH': 293,
  'NJ': 426,
  'NM': 50,
  'NV': 67,
  'NY': 1159,
  'OH': 554,
  'OK': 60,
  'OR': 206,
  'PA': 748,
  'RI': 133,
  'SC': 131,
  'SD': 24,
  'TN': 201,
  'TX': 769,
  'UT': 259,
  'VA': 546,
  'VT': 79,
  'WA': 420,
  'WI': 369,
  'WV': 33,
  'WY': 19},
 2013: {'AK': 27,
  'AL': 77,
  'AR': 21,
  'AZ': 187,
  'CA': 1378,
  'CO': 371,
  'CT': 279,
  'DE': 36,
  'FL': 392,
  'GA': 250,
  'HI': 41,
  'IA': 120,
  'ID': 68,
  'IL': 729,
  'IN': 215,
  'KS': 100,
  'KY': 89,
  'LA': 63,
  'MA': 1861,
  'MD': 331,
  'ME': 146,
  'MI': 409,
  'MN': 418,
  'MO': 158,
  'MS': 39,
  'MT': 29,
  'NC': 328,
  'ND': 30,
  'NE': 63,
  'NH': 211,
  'NJ': 366,
  'NM': 57,
  'NV': 58,
  'NY': 1070,
  'OH': 527,
  'OK': 66,
  'OR': 269,
  'PA': 678,
  'RI': 86,
  'SC': 97,
  'SD': 26,
  'TN': 186,
  'TX': 667,
  'UT': 249,
  'VA': 472,
  'VT': 71,
  'WA': 399,
  'WI': 356,
  'WV': 36,
  'WY': 19},
 2014: {'AK': 50,
  'AL': 105,
  'AR': 48,
  'AZ': 316,
  'CA': 2326,
  'CO': 575,
  'CT': 521,
  'DE': 63,
  'FL': 748,
  'GA': 442,
  'HI': 49,
  'IA': 153,
  'ID': 125,
  'IL': 898,
  'IN': 291,
  'KS': 143,
  'KY': 143,
  'LA': 78,
  'MA': 7573,
  'MD': 526,
  'ME': 250,
  'MI': 695,
  'MN': 556,
  'MO': 255,
  'MS': 45,
  'MT': 65,
  'NC': 618,
  'ND': 31,
  'NE': 112,
  'NH': 527,
  'NJ': 568,
  'NM': 72,
  'NV': 89,
  'NY': 1554,
  'OH': 760,
  'OK': 92,
  'OR': 405,
  'PA': 1002,
  'RI': 232,
  'SC': 182,
  'SD': 32,
  'TN': 259,
  'TX': 994,
  'UT': 430,
  'VA': 713,
  'VT': 142,
  'WA': 596,
  'WI': 433,
  'WV': 56,
  'WY': 22},
 2015: {'AK': 42,
  'AL': 104,
  'AR': 54,
  'AZ': 250,
  'CA': 1952,
  'CO': 483,
  'CT': 394,
  'DE': 62,
  'FL': 578,
  'GA': 381,
  'HI': 52,
  'IA': 158,
  'ID': 74,
  'IL': 881,
  'IN': 300,
  'KS': 130,
  'KY': 138,
  'LA': 88,
  'MA': 4694,
  'MD': 421,
  'ME': 184,
  'MI': 641,
  'MN': 579,
  'MO': 212,
  'MS': 37,
  'MT': 37,
  'NC': 502,
  'ND': 38,
  'NE': 100,
  'NH': 343,
  'NJ': 527,
  'NM': 61,
  'NV': 85,
  'NY': 1406,
  'OH': 787,
  'OK': 90,
  'OR': 282,
  'PA': 922,
  'RI': 148,
  'SC': 143,
  'SD': 36,
  'TN': 229,
  'TX': 952,
  'UT': 398,
  'VA': 669,
  'VT': 94,
  'WA': 461,
  'WI': 419,
  'WV': 46,
  'WY': 21},
 2016: {'AK': 51,
  'AL': 121,
  'AR': 54,
  'AZ': 257,
  'CA': 1930,
  'CO': 488,
  'CT': 427,
  'DE': 52,
  'FL': 683,
  'GA': 346,
  'HI': 58,
  'IA': 134,
  'ID': 87,
  'IL': 843,
  'IN': 288,
  'KS': 101,
  'KY': 143,
  'LA': 78,
  'MA': 4636,
  'MD': 386,
  'ME': 171,
  'MI': 674,
  'MN': 564,
  'MO': 228,
  'MS': 21,
  'MT': 32,
  'NC': 553,
  'ND': 38,
  'NE': 73,
  'NH': 361,
  'NJ': 496,
  'NM': 66,
  'NV': 70,
  'NY': 1392,
  'OH': 730,
  'OK': 91,
  'OR': 298,
  'PA': 895,
  'RI': 135,
  'SC': 148,
  'SD': 38,
  'TN': 259,
  'TX': 974,
  'UT': 396,
  'VA': 588,
  'VT': 90,
  'WA': 452,
  'WI': 390,
  'WV': 51,
  'WY': 21},
 2017: {'AK': 52,
  'AL': 80,
  'AR': 56,
  'AZ': 270,
  'CA': 2049,
  'CO': 534,
  'CT': 377,
  'DE': 47,
  'FL': 609,
  'GA': 317,
  'HI': 37,
  'IA': 111,
  'ID': 93,
  'IL': 771,
  'IN': 267,
  'KS': 92,
  'KY': 138,
  'LA': 88,
  'MA': 4586,
  'MD': 396,
  'ME': 186,
  'MI': 516,
  'MN': 443,
  'MO': 203,
  'MS': 27,
  'MT': 36,
  'NC': 499,
  'ND': 29,
  'NE': 85,
  'NH': 324,
  'NJ': 476,
  'NM': 65,
  'NV': 85,
  'NY': 1324,
  'OH': 693,
  'OK': 81,
  'OR': 312,
  'PA': 842,
  'RI': 136,
  'SC': 136,
  'SD': 34,
  'TN': 237,
  'TX': 1055,
  'UT': 400,
  'VA': 564,
  'VT': 80,
  'WA': 465,
  'WI': 392,
  'WV': 41,
  'WY': 21},
 2018: {'AK': 38,
  'AL': 92,
  'AR': 38,
  'AZ': 237,
  'CA': 1910,
  'CO': 480,
  'CT': 361,
  'DE': 46,
  'FL': 568,
  'GA': 290,
  'HI': 39,
  'IA': 115,
  'ID': 66,
  'IL': 738,
  'IN': 332,
  'KS': 84,
  'KY': 114,
  'LA': 63,
  'MA': 4560,
  'MD': 359,
  'ME': 151,
  'MI': 549,
  'MN': 419,
  'MO': 185,
  'MS': 26,
  'MT': 25,
  'NC': 530,
  'ND': 39,
  'NE': 55,
  'NH': 335,
  'NJ': 456,
  'NM': 67,
  'NV': 90,
  'NY': 1263,
  'OH': 585,
  'OK': 104,
  'OR': 269,
  'PA': 846,
  'RI': 125,
  'SC': 119,
  'SD': 36,
  'TN': 254,
  'TX': 850,
  'UT': 343,
  'VA': 530,
  'VT': 88,
  'WA': 476,
  'WI': 375,
  'WV': 46,
  'WY': 18},
 2019: {'AK': 42,
  'AL': 91,
  'AR': 45,
  'AZ': 274,
  'CA': 2031,
  'CO': 533,
  'CT': 316,
  'DE': 40,
  'FL': 641,
  'GA': 302,
  'HI': 46,
  'IA': 109,
  'ID': 63,
  'IL': 640,
  'IN': 284,
  'KS': 80,
  'KY': 156,
  'LA': 91,
  'MA': 4422,
  'MD': 350,
  'ME': 152,
  'MI': 519,
  'MN': 415,
  'MO': 208,
  'MS': 30,
  'MT': 40,
  'NC': 558,
  'ND': 32,
  'NE': 58,
  'NH': 318,
  'NJ': 470,
  'NM': 77,
  'NV': 76,
  'NY': 1329,
  'OH': 588,
  'OK': 105,
  'OR': 284,
  'PA': 734,
  'RI': 104,
  'SC': 144,
  'SD': 26,
  'TN': 211,
  'TX': 994,
  'UT': 321,
  'VA': 488,
  'VT': 74,
  'WA': 409,
  'WI': 324,
  'WV': 34,
  'WY': 25}}